extends layout

block content
  h1= title
  p Welcome to #{title}
  button#btnLogout logout

  script.
    const btnLogout = document.getElementById("btnLogout");
    btnLogout.addEventListener('click', e => {
      document.cookie = 'token=';
      window.location.href = "/";
    })