doctype html
html
  include ./header.pug
  body.bg-gradient-primary
    block content

    //- Bootstrap core JavaScript
    script(src="/javascripts/jquery-3.3.1.slim.min.js")
    script(src="/javascripts/popper.min.js")
    script(src="/javascripts/bootstrap.min.js")
    //- Jquery
    script(src="/javascripts/jquery.min.js")
    //- Core plugin JavaScript
    script(src='/javascripts/jquery.easing.min.js')
    //- Custom scripts for all pages
    script(src='/javascripts/sb-admin-2.min.js')
