extends layout

block content
  h1= title
  form(action="/form", method="post")
    div
      label(for="say") Say:
      input(type="text" name="say" value="Hi")
    br
    div
      label(for="to") To:
      input(type="text" name="to" value="Express forms")
    br
    button(type="submit") Send my greetings