extends layout

block content
  //- Main Content
  div.container
    div.row
      div.col-lg-8.col-md-10.mx-auto
        p
          | Want to get in touch? Fill out the form below to send me a message and I will get back to you as soon as possible!
        form#contactForm(name='sentMessage' novalidate='')
          div.control-group
            div.form-group.floating-label-form-group.controls
              label Name
              input#name.form-control(type='text' placeholder='Name' required='' data-validation-required-message='Please enter your name.')
              p.help-block.text-danger
          div.control-group
            div.form-group.floating-label-form-group.controls
              label Email Address
              input#email.form-control(type='email' placeholder='Email Address' required='' data-validation-required-message='Please enter your email address.')
              p.help-block.text-danger
          div.control-group
            div.form-group.col-xs-12.floating-label-form-group.controls
              label Phone Number
              input#phone.form-control(type='tel' placeholder='Phone Number' required='' data-validation-required-message='Please enter your phone number.')
              p.help-block.text-danger
          div.control-group
            div.form-group.floating-label-form-group.controls
              label Message
              textarea#message.form-control(rows='5' placeholder='Message' required='' data-validation-required-message='Please enter a message.')
              p.help-block.text-danger
          br
          div#success
          div.form-group
            button#sendMessageButton.btn.btn-primary(type='submit') Send
